In [2]:
from configparser import ConfigParser


config = ConfigParser()
config.read('../config.ini')
db_path = config['DB']['dir']

In [6]:
config['DB']['dir']

'./attendance.db'

In [1]:
import pandas as pd
# df = pd.read_excel('../data/test.xlsx', 'Football')
df = pd.read_excel('../data/test.xlsx',sheet_name=None)

In [3]:
for i in df:
    print(i)

SalesOrders
Football

In [57]:
df_sheet = df.get('Football')
a=df_sheet['NAME '].to_numpy()
df_sheet.head(3)

,Year,Team,NAME,No.,Pos,Ht,Wt,Age,Exp,College,FirstName,LastName,Ft,In,Inches
0,2022,New Orleans,Paulson Adebo,29.0,CB,6-1,192,23.0,2,Stanford,Paulson,Adebo,6,1,73
1,2022,Arizona,Zach Allen,94.0,DE,6-4,281,24.0,4,Boston College,Zach,Allen,6,4,76
2,2022,New Orleans,Kiko Alonso,47.0,OLB,6-3,239,NaN,R,Oregon,Kiko,Alonso,6,3,75

In [69]:
import numpy as np
def strLenCalc(e):
    print(a)

In [76]:
fnDict = { 
    'text': [strLenCalc],
}
dataMapperDict = {
    'object':'text',
    'datetime64[ns]':'date',
    'int64':'number',
    'float64':'float',
    'date':'date',
    'nvarchar':'text',
    'int':'number',
    'decimal':'float'
}

def wrapper(arr:np.ndarray, dataType: str, *args, **kwargs):
    '''
    *args: list of the functions to run on the elements
    **kwargs: dict with key 'res'
    '''
    fns = fnDict[dataMapperDict[dataType]]
    print(fns)
    # for e in arr:
    #     for fn in fns:
    #         fn(e)
    # map(lambda fn : map(fn, arr), fns)
    map(lambda x : print(x), arr)

In [77]:
wrapper(a,'object' )

[<function strLenCalc at 0x7fa8b254e4c0>]

In [55]:
from typing import Any


class execfile:
	def __init__(self, filepath:str) -> None:
		self.df = pd.read_excel(filepath, sheet_name=None)
	def __call__(self, *args: Any, **kwds: Any) -> Any:
		print('hello')
	def run(self):
		for sheetName in df:
			df_sheet = df.get(sheetName)
			df_sheet.dtypes
			for colName, dataType in zip(df_sheet, df_sheet.dtypes):
				print(f'{colName} ----> {str(dataType)} ----> {type(df_sheet[colName].to_numpy())}')

In [56]:
execfile('../data/test.xlsx').run()

OrderDate ----> datetime64[ns] ----> <class 'numpy.ndarray'>
Region ----> object ----> <class 'numpy.ndarray'>
Rep ----> object ----> <class 'numpy.ndarray'>
Item ----> object ----> <class 'numpy.ndarray'>
Units ----> int64 ----> <class 'numpy.ndarray'>
Unit Cost ----> float64 ----> <class 'numpy.ndarray'>
Total ----> float64 ----> <class 'numpy.ndarray'>
Year ----> int64 ----> <class 'numpy.ndarray'>
Team ----> object ----> <class 'numpy.ndarray'>
NAME  ----> object ----> <class 'numpy.ndarray'>
No. ----> float64 ----> <class 'numpy.ndarray'>
Pos ----> object ----> <class 'numpy.ndarray'>
Ht ----> object ----> <class 'numpy.ndarray'>
Wt ----> int64 ----> <class 'numpy.ndarray'>
Age ----> float64 ----> <class 'numpy.ndarray'>
Exp ----> object ----> <class 'numpy.ndarray'>
College ----> object ----> <class 'numpy.ndarray'>
FirstName ----> object ----> <class 'numpy.ndarray'>
LastName ----> object ----> <class 'numpy.ndarray'>
Ft ----> int64 ----> <class 'numpy.ndarray'>
In ----> int64 ----> <class 'numpy.ndarray'>
Inches ----> int64 ----> <class 'numpy.ndarray'>

In [9]:
import pyodbc

# Specifying the ODBC driver, server name, database, etc. directly
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=master;UID=SA;PWD=Ibrahimelsawy834@')

# Using a DSN, but providing a password as well
# cnxn = pyodbc.connect('DSN=test;PWD=password')

# Create a cursor from the connection
cursor = cnxn.cursor()

In [14]:
cursor.execute("select * from sample")
row = cursor.fetchone()
if row: 
	print(type(row.region))
	print(type(row))

<class 'str'>
<class 'pyodbc.Row'>

(datetime.date(2021, 1, 6), 'East', 'Jones', 'Pencil', 5, Decimal('1.99'), Decimal('89.05'))

In [52]:
import numpy as np
cursor.execute("select * from sample")
rows = cursor.fetchall()
cursor.execute('''SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = N'sample'
''')
columnNames = cursor.fetchall()
colArr = np.array(rows)
for colIndex, colName in enumerate(columnNames):
    print(f'{colName.COLUMN_NAME} ---> {colName.DATA_TYPE} ---> {type(colArr[:,colIndex])} ---> {colArr[:,colIndex][0]}')

order_date ---> date ---> <class 'numpy.ndarray'> ---> 2021-01-06
region ---> nvarchar ---> <class 'numpy.ndarray'> ---> East
rep ---> nvarchar ---> <class 'numpy.ndarray'> ---> Jones
item ---> nvarchar ---> <class 'numpy.ndarray'> ---> Pencil
units ---> int ---> <class 'numpy.ndarray'> ---> 5
unit_cost ---> decimal ---> <class 'numpy.ndarray'> ---> 1.99
cost ---> decimal ---> <class 'numpy.ndarray'> ---> 89.05

In [27]:
arr = np.array(rows)
arr[0][1]

'East'

In [26]:
arr.shape

(3, 7)

In [33]:
arr[:,1]

'East'

In [41]:
for c in columnNames:
	print(f'{c.COLUMN_NAME} -----> {c.DATA_TYPE}')

order_date -----> date
region -----> nvarchar
rep -----> nvarchar
item -----> nvarchar
units -----> int
unit_cost -----> decimal
cost -----> decimal

In [4]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

# df = pd.DataFrame(np.random.rand(100, 5), columns=["a", "b", "c", "d", "e"])

profile = ProfileReport(df, title="Pandas Profiling Report")

In [5]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦